.list__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list__item {
  flex: 0 0 14%;
  margin: var(--spacing-medium);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  cursor: pointer;
}
.list__item a {
  color: var(--color-black);
  text-align: center;
}
.person__photo {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

p {
  padding: 10px 0;
}

@media screen and (max-width: 767px) {
  .list__item {
    flex: 0 0 25%;
    margin: 15px;
  }

  p {
    font-size: 13px;
  }
}

@media screen and (max-width: 479px) {
  .list__item {
    flex: 0 0 35%;
  }
  p {
    font-size: 11px;
  }
}
